.is-live-preview
    .cm-line:not(.cm-active):has(.cm-comment-start):not(:has(.cm-header)) {
    opacity: 0;
}

.is-live-preview
    .cm-line:not(.cm-active):has(.cm-comment-start):not(
        :has(.cm-header)
    ):hover {
    opacity: 1;
}
